APP_PORT=8080
APP_ENV=development
APP_NAME=luxbiss_server
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=luxbiss
DB_SSLMODE=disable

JWT_SECRET=your_super_secret_jwt_key
